body, html {
    height: 100%;
    font-family: 'Exo2ExtraBoldItalic';
}
@font-face {
    font-family: 'Exo2ExtraBoldItalic';
    src: url('/assets/Exo2ExtraBoldItalic-gaD6.ttf')  format('truetype');
}
.container {
    display: inline-flex;
    height: 100%;
    width: 100%;
    
}

.first-line {
    display: inline-flex;
    margin-top: 150px;
}

.question-mark {
    cursor: pointer;
    z-index: 100;
    text-decoration: none;
    color: violet;
}

.three-dot {
    font-size: 500px;
    margin-top: -420px;
    margin-left: 190px;
}

.left-area, .center, .right-area {
    width: 33.33%;
}

.center {
    margin: auto;
    text-align: center;
}


.title {
    margin-right: 10px;
    margin-bottom: 200px;
}

.author {
    font-size: 72px;
}

.right-area {
    text-align: center;
}

.right-area div {
    font-size: 250px;
}

.right-area .dot {
    margin-top: 150px;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .original {
        display: none;
    }

    .mobile {
        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .author {
        height: 33.33%;
        font-size: 35px;
    }

    .author span {
        vertical-align: middle;
    }

    .paragraph {
        height: 33.33%;
        font-size: 30px;
    }

    .symbol {
        height: 33.33%;
        font-size: 72px;
    }
}